@import './typo.scss';
@import './buttons.scss';

html {
  --accent-color: #0076ff;
  --accent-hovered: #3291ff;
  --dark-color: #24292E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #FAFBFC;
}

* {
  box-sizing: border-box;
}

section {
  overflow: auto;
  border-bottom: 1px solid #EAEAEA;
}

.final_section {
  height: 180px;
}
